# Python Standart
__pycache__/
*.py[cod]
*.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Statik Analiz ve Linter Önbellekleri
.mypy_cache/
.ruff_cache/

# Ortam (Environments)
.env
.venv/
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Veritabanı ve Çıktılar
*.sqlite3
*.db
output/*
!output/.gitkeep
data/*
!data/.gitkeep

# IDE ve İşletim Sistemi
.idea/
.vscode/
*.swp
Thumbs.db
Desktop.ini

# Graphify
graphify-out/

# Developer & Test Outputs (not needed by CLI)
scratch/
.prompts/
.deepeval/
.pytest_cache/
.coverage
coverage.xml
logs/
eslint_output.*
**/eslint_output.*

# Repomix
repomix-output.*
.repomixignore

# Node/Frontend dependencies
node_modules/
**/node_modules/
npm-debug.log

# cline
.clinerules
graphify_mcp_server.py

# continue
.continueignore

# agents
AGENTS.md
/.agents
/.prompts

# frontend
frontend/
dashboards/

#whl
docker/models/